---
// Contribute.astro
---

<div class="contribute" id="contributeSection">
  <h2>欢迎网友投稿分享！</h2>
  <div class="email-line">
    <span class="email-btn" onclick="openEmailModal()">admin@wvip.top</span>
  </div>
  <div class="note">
    我会认真查看每一封邮件，无论是否收录，都会诚挚地感谢您的分享！
  </div>
  <div class="note" style="margin-top:6px;">
    发现链接打不开？请发送邮件至 admin@wvip.top，我会尽快修复。
  </div>
</div>
